.toggleButton {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--blue-grey-dark);
  border-radius: 3px;
  min-width: 3em;
  margin-right: 1em;
  padding: 0 0.25em;
  height: 1.75em;
  font-size: 0.875em;
  color: var(--blue-slate-dark);
  text-align: center;
}

.toggleButton:last-of-type {
  margin-right: 0;
}

.unselected {
  background-color: #fff;
}

.selected {
  color: #fff;
  background-color: var(--blue-ink);
}

@media screen and (min-width: 45em) {
  .toggleButton {
    min-width: 4.6em;
  }

  .unselected:hover {
    background-color: var(--blue-sky);
  }
}
