:root {
  --border: 1px solid rgb(215, 223, 229);
  --text-color: rgb(30, 52, 72);
}

.formContainer {
  margin: 0 1em;
}

.formContainer > form {
  margin: 0 0 1em;
}

.searchBar {
  display: flex;
  width: 100%;
}

.searchBar > input {
  border: var(--border);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-left: -1px;
  color: var(--text-color);
}

.inputContainer {
  border: var(--border);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 1.4em;
  display: flex;
  flex: 1 0 0;
}

.inputContainer > img {
  margin: 0 0.3em 0;
  width: 0.5em;
}

.inputContainer > input {
  box-shadow: none;
  border: none;
  margin: 0 0 0.2em;
  color: var(--text-color);
  flex: 1 0 0;
}

.inputContainer > input:focus::placeholder {
  color: transparent;
}

.noValue {
  background-color: #f9fbfc;
}

.inputContainer > button {
  border: none;
  font-size: 0.3em;
  color: rgb(78, 133, 198);
}

.filterButton {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--blue-grey-dark);
  border-radius: 3px;
  min-width: 3em;
  margin-right: 1em;
  padding: 0.325em;
  font-size: 0.875em;
  color: var(--blue-slate-dark);
  text-align: center;
}

.unselected {
  background-color: #fff;
}

.selected {
  color: #fff;
  background-color: var(--blue-ink);
}

@media screen and (min-width: 45em) {
  .filterButton {
    min-width: 4.6em;
  }

  .unselected:hover {
    background-color: var(--blue-sky);
  }
}
