.formContainer > form {
  margin: 0 0 1em;
}

.searchBar {
  display: flex;
  width: 100%;
  height: 2.25em;
}

.searchBar > input {
  box-sizing: border-box;
  border: 1px solid var(--blue-grey-dark);
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
  color: var(--blue-slate-dark);
  font-size: 0.875em;
  background: linear-gradient(0deg, var(--blue-sky) 0%, #fff 100%);
}

.searchBar > input:hover {
  background: linear-gradient(0deg, var(--blue-sky-light) 0%, #fff 100%);
}

.searchBar > input:active {
  background: linear-gradient(180deg, var(--blue-sky-light) 0%, #fff 100%);
  box-shadow: inset 0 2px 3px 0 rgba(157, 175, 189, 0.5);
}

.inputContainer {
  border: 1px solid var(--blue-grey-dark);
  border-radius: 4px 0 0 4px;
  display: flex;
  flex: 1 0 0;
  z-index: 1;
}

.inputContainer.hasValue,
.inputContainer:focus-within {
  border: 1px solid var(--blue-slate);
}

.inputContainer > img {
  margin: 0 0.5em 0;
  width: 1em;
}

.inputContainer > input {
  box-shadow: none;
  border: none;
  color: var(--blue-ink);
  font-size: 0.5em;
  flex: 1 0 0;
}

.inputContainer > input:focus::placeholder {
  color: transparent;
}

.noValue,
.noValue > input {
  background-color: var(--blue-sky-light);
}

.inputContainer > button {
  border: none;
  color: #1971c2;
  font-size: 0.75em;
}

.filterButton {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid var(--blue-grey-dark);
  border-radius: 3px;
  min-width: 3em;
  margin-right: 1em;
  padding: 0 0.25em;
  height: 1.75em;
  font-size: 0.875em;
  color: var(--blue-slate-dark);
  text-align: center;
}

.filterButton:last-of-type {
  margin-right: 0;
}

.unselected {
  background-color: #fff;
}

.selected {
  color: #fff;
  background-color: var(--blue-ink);
}

@media screen and (min-width: 45em) {
  .filterButton {
    min-width: 4.6em;
  }

  .unselected:hover {
    background-color: var(--blue-sky);
  }

  .inputContainer > input {
    font-size: 0.875em;
  }
}
