.percentContainer {
  position: relative;
}

.percentContainer > div {
  height: 0.375em;
  width: 6em;
  border-radius: 0.188em;
}

.percentBar {
  width: 100%;
  background-color: var(--blue-grey-light);
}

.percentage {
  position: absolute;
  top: 0;
  left: 0;
}

.red {
  background-color: #f03e3e;
}

.yellow {
  background-color: #ffd43b;
}

.green {
  background-color: #74b816;
}

@media screen and (min-width: 47.25em) {
  .percentContainer > div {
    width: 9.5em;
  }
}
