.trailer > button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 32px;
  width: auto;
  padding: 0 14px;
  border-radius: 1.469em;
  font-size: 0.875em;
  border: none;
  display: flex;
  align-items: center;
}

.trailer > button > span {
  margin-left: 10px;
}

.trailerAvailable {
  color: #fff;
  background-color: #82c91e;
}

.trailerAvailable:hover {
  background-color: #66a80f;
}

.trailerUnavailable {
  background-color: var(--blue-grey-light);
  color: var(--blue-slate);
}

.trailerUnavailable * #Path {
  fill: var(--blue-slate);
}

.trailer > div > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0 0 32px 0 rgba(23, 52, 74, 0.6);
}

@media screen and (max-width: 47em) {
  .trailer > button {
    height: 20px;
    padding: 0 10px;
    font-size: 0.7em;
  }

  .trailer > button > span {
    margin-left: 6px;
  }
}

@media screen and (max-width: 320px) {
  .trailer > button {
    display: none;
  }
}
