:root {
  --blue-slate-dark: #335267;
  --blue-slate: #527187;
  --blue-ink: #17344a;
  --blue-grey: #d5dfe6;
  --blue-grey-light: #dfe9ed;
  --blue-grey-dark: #bccad4;
  --blue-sky: #ebf3f5;
  --blue-sky-light: #f9fbfc;
  --width-large: 47.25em;
}

body {
  font-family: 'Lato', sans-serif;
}
